/* style.css */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f8f8f8;
  color: #222;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f8f8;
  color: black;
  padding: 1em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px; /* Optional: adds space on smaller screens */
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 0.8em;
}

.logo {
  height: 160px;
}

main {
  padding: 2em;
}

footer {
  background: #e0e0e0;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  color: #444;
} 
