<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="{{ '/style.css?v=12' | relative_url }}">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  {% include header.html %}
  <main class="container" id="main-content">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
